@media only screen and (min-width: 769px) {
    .menu {
        display: none;
    }
    .regmodal {
        margin: 6% 20% 10% 20%;
        padding-top: 2.5%;
        height: 60vh;
        width: 60vw;
        /* top: -90%;
        transform: translateY(120%); */
    }
    .regmodal .closeicon:hover {
        background-image: url("https://lic-agent-recruitment.herokuapp.com/images/close-red-icon.svg");
        cursor: pointer;
    }
    nav {
        justify-content: space-around;
    }
    nav .logo {
        margin-left: 5%;
        margin-right: 5%;
    }
    nav .hamburger {
        display: none;
    }
    .hero {
        /* padding: 15% 3% 20% 3%; */
        /* height: 95vh; */
    }
    .hero .heading-wrapper {
        width: 50%;
    }
    .home {
        background-image: url("https://lic-agent-recruitment.herokuapp.com/images/hero-desktop.jpg");
    }
    .content {
        flex-direction: row;
    }
    .content .article {
        max-width: 32%;
    }
    .content img {
        width: 90%;
    }
    .guidecall {
        background-attachment: fixed;
    }
    .guidecall h1 {
        font-size: 32px;
    }
    .guidecall button {
        width: 160px;
        line-height: 40px;
        font-size: 15px;
    }
    .regdetails .blocks {
        flex-direction: row;
    }
    .regdetails .blocks .block {
        width: 70%;
    }
    .regprocess {
        flex-direction: row;
    }
    .registercall::before {
        background-attachment: fixed;
    }
    .queries {
        background-image: url("https://lic-agent-recruitment.herokuapp.com/images/queries-hero-desktop.jpg");
    }
    .main {
        flex-direction: row;
    }
    .register-main {
        flex-direction: row-reverse;
    }
    .main .contactinfo {
        max-width: 40%;
        margin-left: 40px;
        margin-right: 40px;
    }
    .main .contactinfo hr {
        width: 90%;
    }
    .main form {
        max-width: 80%;
        min-width: 50%;
    }
    .about-main {
        flex-direction: column;
    }
    .about-main .section p::before {
        top: -15px;
    }
    .about-main .section p {
        max-width: 60%;
    }
    .about-main .section p::after {
        width: 92%;
    }
    .registration-complete-wrapper {
        width: 45%;
    }
    .registration-complete-wrapper .content ul {
        width: 60%;
    }
}