@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .mask {
        background-color: hsla(0, 0%,0%, 0.8);
    }
    .regmodal {
        margin: 3%;
        height: 80vh;
        width: 90vw;
        /* top: -87%; 
        transform: translateY(100%); */
    }
    .regmodal .closeicon:active {
        background-image: url("https://lic-agent-recruitment.herokuapp.com/images/close-red-icon.svg");
    }
    nav {
        padding: 10px 20px 10px 20px;
    }
    nav .links {
        display: none;
    }
    .home {
        background-image: url("https://lic-agent-recruitment.herokuapp.com/images/hero-mobile.webp");
    }
    .hero .heading-wrapper {
        width: 90%;
    }
    .content {
        flex-direction: column;
    }
    .content .article {
        margin-top: 50px;
    }
    .content .article img {
        width: 90vw;
    }
    .guidecall h1 {
        font-size: 23px;
    }
    .guidecall button {
        width: 120px;
        line-height: 30px;
        font-size: 12px;
    }
    .regdetails .blocks {
        flex-direction: column;
    }
    .regprocess {
        flex-direction: column;
    }
    .queries {
        background-image: url("https://lic-agent-recruitment.herokuapp.com/images/queries-hero-mobile.webp");
    }
    .main {
        flex-direction: column;
        margin-top: 0;
    }
    .main .contactinfo {
        margin-bottom: 40px;
        text-align: center;
    }
    .main .contactinfo hr {
        width: 60%;
    }
    .about-main .section p::before {
        top: -20px;
    }
    .about-main .section p {
        max-width: 80%;
    }
    .about-main .section p::after {
        width: 80%;
    }
    .registration-complete-wrapper {
        width: 90%;
    }
    .registration-complete-wrapper .content ul {
        width: 80%;
    }
}